{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do App</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="navbar navbar-dark bg-primary">
		<a href="#" class="navbar-brand">ToDoApp</a>
	</div>
	<div class="container">
		{% block content %}{% endblock content %}
	</div>
	<script src="{% static 'vendor/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.del').click(function(e){
			e.preventDefault();
			Swal.fire({
				title: 'Are you sure want to delete?',
				icon: 'warning',
				showDenyButton: true,
				confirmButtonText: 'Yes',
				denyButtonText: 'Cancel',
			}).then((result) => {
				if(result.isConfirmed){
					$(this).parent().submit();
				}
			});
		});
	</script>
</body>
</html>